{% extends "index.html" %}

{% block title %}Add Music{% endblock %}

{% block content %}

<div class="flex flex-col sm:flex-row items-center gap-3 md:col-span-2  mt-2">
  
  <a href="{% url 'music-list' artist.id %}" class="btn btn-lg btn-primary  sm:w-1/2">
    Back
  </a>

</div>

<div class="flex  items-center justify-center overflow-x-hidden py-10">
    <div class="relative flex items-center justify-center px-4 sm:px-6 lg:px-8">

      <div class="bg-base-100 shadow-base-300/20 z-1 w-full space-y-6 rounded-xl p-6 shadow-md sm:min-w-md lg:p-8">
       
        <div>
          <h3 class="text-base-content mb-1.5 text-2xl font-semibold">Add Music</h3>
        </div>

        <!-- Non-field errors -->
        {% if form.non_field_errors %}
          <div class="alert alert-error mb-4">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <!-- Form -->
        <div class="space-y-4">
          <form method="POST" action="{% url 'music-create' artist.id %}" class="mb-4 space-y-4" novalidate>
            
            <!-- CSRF Token-->
            {% csrf_token %}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            
              <!--Title -->
              <div class="flex flex-col gap-2">
                <label class="label-text" for="{{ form.title.id_for_label }}">
                  {{ form.title.label }}{% if form.title.field.required %}*{% endif %}
                </label>
                {{ form.title }}
                {% for error in form.title.errors %}
                  <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
              </div>

               <!-- Album Name-->
              <div class="flex flex-col gap-2">
                <label class="label-text" for="{{ form.album_name.id_for_label }}">
                  {{ form.album_name.label }}{% if form.album_name.field.required %}*{% endif %}
                </label>
                {{ form.album_name }}
                {% for error in form.album_name.errors %}
                  <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
              </div>

              <!-- Genre -->
              <div class="flex flex-col gap-2">
                <label class="label-text" for="{{ form.genre.id_for_label }}">
                  {{ form.genre.label }}{% if form.genre.field.required %}*{% endif %}
                </label>
                {{ form.genre }}
                {% for error in form.genre.errors %}
                  <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
              </div>


              <div class="flex items-center gap-2 md:col-span-2">
                <button type="submit" class="btn btn-lg btn-primary btn-gradient btn-block">Add Music</button>
              </div>

            </div>
            
          </form>
          
        </div>
      </div>
    </div>
</div>

{% endblock content %}