{% extends "index.html" %}

{% block title %}Music List{% endblock title %}

{% block content %}

<div class="flex flex-col sm:flex-row items-center justify-center gap-3 md:col-span-2  mt-2">
  
  <a href="{% url 'artist-list' %}" class="btn btn-lg btn-primary  ">
    Back
  </a>

</div>

<!-- Add Artist Form-->
<div class="flex items-center justify-between mb-4">
  <h2 class="text-lg font-semibold">Music List</h2>
  <a href="{% url 'music-create' artist.id %}" class="btn btn-primary">
    <span class="icon-[tabler--plus] size-4"></span> Add Music
  </a>
</div>


<div class="border-base-content/25 w-full overflow-x-auto border">
  <table class="table">

    <thead>
      <tr>
        <th>Title</th>
        <th>Album Name</th>
        <th>Genre</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for u in rows %}
      <tr class="hover:bg-base-200">
        
        <!-- Title-->
        <td class="font-medium">{{ u.title }}</td>
        
        <!-- Album Name -->
        <td class="text-sm">{{ u.album_name }}</td>

        <!-- Genre-->
        <td class="text-sm">
          {% if u.genre == 'rnb' %}RMB
          {% elif u.genre == 'country' %}Country
          {% elif u.genre == 'classic' %}
          {% elif u.genre == 'rock' %}Rock
          {% elif u.genre == 'jazz' %}Jazz
          {% else %}—{% endif %}
        </td>
        
    
        <!-- Joined -->
        <td class="text-sm text-base-content/60">{{ u.created_at|date:"M d, Y" }}</td>
        
        <!-- Actions-->
        <td>

          <!-- Update User-->
          <a href="{% url 'music-edit' artist.id u.id %}"
             class="btn btn-circle btn-text btn-sm"
             aria-label="Artist user">
            <span class="icon-[tabler--pencil] size-5"></span>
          </a>

          <form method="POST" action="{% url 'music-delete' artist.id u.id %}" class="inline"
                onsubmit="return confirm('Delete {{ u.name }}?')">
            {% csrf_token %}
            <button type="submit" class="btn btn-circle btn-text btn-sm text-error">
              <span class="icon-[tabler--trash] size-5"></span>
            </button>
        </form>

        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" class="text-center py-10 text-base-content/40">
          <span class="icon-[tabler--users] size-8 mb-2 block mx-auto"></span>
          No artist found.
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<!-- pagination -->
{% include "components/pagination.html" %}

{% endblock content %}