{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>

    <!--FlyonUI CSS-->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">

    <!-- Notyf -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    {% block extra_css %}

    {% endblock extra_css %}

</head>
<body>
    
    {% block body %}

    {% endblock body %}
    
    <!-- FlyonUI JS-->
    <script src="https://cdn.jsdelivr.net/npm/flyonui@latest/dist/js/flyonui.min.js"></script>

    <!-- Notyf -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>


    <script>
    window.addEventListener('load', function () {
        flatpickr('#flatpickr-default', {
        monthSelectorType: 'static'
        })
    })
    </script>

    <script>
        window.addEventListener('load', function () {
            const notyf = new Notyf();

            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                notyf.success("{{ message|escapejs }}");
                {% elif message.tags == 'error' %}
                notyf.error("{{ message|escapejs }}");
                {% else %}
                notyf.open({
                    type: 'info',
                    message: "{{ message|escapejs }}"
                });
                {% endif %}
            {% endfor %}
            {% endif %}
        });
        </script>


    
</body>
</html>