{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>

    <!--FlyonUI CSS-->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">

    {% block extra_css %}

    {% endblock extra_css %}

</head>
<body>
    
    {% block body %}

    {% endblock body %}
    
    <!-- FlyonUI JS-->
    <script src="{% static 'flyonui/flyonui.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flyonui@latest/dist/js/flyonui.min.js"></script>


    <script>
    window.addEventListener('load', function () {
        flatpickr('#flatpickr-default', {
        monthSelectorType: 'static'
        })
    })
    </script>


    
</body>
</html>