<aside id="with-navbar-sidebar"  style="border-right: 2px solid #d1d5db;"
  class="overlay border-r-2 border-gray-400 [--auto-close:sm] sm:shadow-none overlay-open:translate-x-0 drawer drawer-start hidden max-w-64 sm:absolute sm:z-0 sm:flex sm:translate-x-0 pt-16"
  role="dialog" tabindex="-1">
  
  <div class="drawer-body px-2 pt-4">
    
    <ul class="menu p-0">
      
      <li>
        <a href="#">
          <span class="icon-[tabler--home] size-5"></span>
          Dashboard
        </a>
      </li>

      <li>
        <a href="{% url 'users-list' %}">
          <span class="icon-[tabler--user] size-5"></span>
          Users
        </a>
      </li>

      <li>
        <a href="{% url 'artist-list' %}">
          <span class="icon-[tabler--message] size-5"></span>
          Artists
        </a>
      </li>
      
    </ul>

  </div>

</aside>